surveying-supervising/src/main/resources/servers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://server.com/servers"
           xmlns:tns="http://server.com/servers"
           elementFormDefault="qualified">

    <!-- Create server -->
    <xs:element name="createServerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="ipAddress" type="xs:string"/>
                <xs:element name="status" type="xs:boolean" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createServerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="server" type="tns:server"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- List servers -->
    <xs:element name="getAllServersRequest" type="xs:anyType"/>

    <xs:element name="getAllServersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="server" type="tns:server" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <!-- Status operation -->
    <xs:element name="getServerStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getServerStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Start server -->
    <xs:element name="startServerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="startServerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="server" type="tns:server"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Stop server -->
    <xs:element name="stopServerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="stopServerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="server" type="tns:server"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Delete server -->
    <xs:element name="deleteServerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteServerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Server type -->
    <xs:complexType name="server">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="ipAddress" type="xs:string"/>
            <xs:element name="status" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>